@page
@model OpenDHS.Web.Areas.Manage.Pages.DataBlock.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header text-center">
                                <h3 class="font-weight-light my-4">Delete</h3>
                                <h4>Are you sure you want to delete this?</h4>
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.Name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.Name)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.Description)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.Description)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.Type)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.Type)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.Data)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.Data)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.DataContanerId)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.DataContanerId)
                                    </dd>
                                   @*  <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.PageContanerId)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.PageContanerId)
                                    </dd> *@
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.AddedAt)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.AddedAt)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.UpdatedAt)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.UpdatedAt)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.DataBlockEntity.DeletedAt)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.DataBlockEntity.DeletedAt)
                                    </dd>
                                </dl>
                                <form method="post">
                                    <input type="hidden" asp-for="DataBlockEntity.ID" />
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <a asp-page="./Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
