@page
@model OpenDHS.Web.Areas.Manage.Pages.History.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HistoryEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.Entity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.Entity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.Snapshop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.Snapshop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.AddedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.AddedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryEntity.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HistoryEntity.DeletedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HistoryEntity.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
